#board {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* Set the width to your desired size */
    height: 400px; /* Set the height to the same value as the width */
    border: 1px solid #000; /* Optional: Add a border for visualization */
}
span{
    box-sizing: border-box;
}
.whiteSquare {
    background-color: burlywood;
    text-align: center;
    font-size:xx-large;
}

.blackSquare {
    background-color: brown;
    text-align: center;
    font-size:xx-large;
}
button{
    width: 50px;
    height: 40px;
    background-color: rgb(205, 251, 255);
}
span:hover {
    border: 2px solid blue;
}
#promotionDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#promotionDiv span {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border: 1px solid #666;
    border-radius: 5px;
}

#promotionDiv span:hover {
    background-color: #ddd;
}
